# CODEOWNERS for Astre Repository
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default global code owners
* @Akshola00

# Frontend application (Next.js)
/astre_frontend/ @Akshola00

# Backend API service (NestJS)
/astre_server/ @Akshola00

# Soroban Smart Contracts (Rust)
/astre_contract/ @Akshola00
